{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}



<div class="splash-container">

<!--	
  <div id="menu" style="height:100px;width:100px;float:left">
	<img src="https://qttblog.oss-cn-hangzhou.aliyuncs.com/logo.png" alt="f" width="100" height="100">
  </div>
-->

  <div class="splash">
    
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    <!-- Replace MEEEEE -->

    {{ partial "social-icons.html" .}}
  </div>

</div>



{{ end }}
